<div class="row col-10 mx-auto my-5 p-5 card-list-container" role="option-card" aria-label="Example 1px high">
<h4 class="text-center">Bad Credit? We can help!</h4>

<div class="info-main">
    <div class="row justify-content-center">
        <div class="text-center col-sm-3 mb-3 col-lg-3 mb-sm-0 my-4 option-card">
            <div class="card-wrapper">
                <div class="card" id="info">
                    <div class="card-body">
            
                        <h5 class="card-title">On-time Payments</h5>
                        <h6>The following are very important to pay on-time in order to have good credit!</h6>
                        <ul class="ontime">
                            <li>Subscriptions</li>
                            <li>Bills</li>
                            <li>Loans</li>
                            <li>Credit Card Payments</li>
                        </ul>
            
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center col-sm-3 mb-3 col-lg-3 mb-sm-0 my-4 option-card">
            <div class="card-wrapper">
                <div class="card" id="info">
                    <div class="card-body">

                        <h5 class="card-title">Never Borrow More Than You Can Afford</h5>
                            <p>From using a credit card to buy groceries to taking out a mortgage to buy a house. Loans come in a variety of sizes and should all be taken seriously.
                                Make sure whatever loan you take out, it is within your means to pay back.
                            </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center col-sm-3 mb-3 col-lg-3 mb-sm-0 my-4 option-card">
            <div class="card-wrapper">
                <div class="card" id="info">
                    <div class="card-body">

                        <h5 class="card-title">Get A Credit Card</h5>
                        <h6>Used responsibly, credit cards are a great way to build credit!</h6>
                        <ul>
                            <p>Credit cards will allow you to have a varying degree of borrowing power at your fingertips, and every time you use it and make a payment on it, this 
                                is then reported to the credit bureau at the end of the month.
                            </p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="row justify-content-center">
        <div class="text-center col-sm-3 mb-3 col-lg-3 mb-sm-0 my-4 option-card">
            <div class="card-wrapper">
                <div class="card" id="info">
                    <div class="card-body">
                        
            
                        <h5 class="card-title">Tips for On-time Payments</h5>
                        <ul>
                            <li>Sign-up for text/email notifications.</li>
                            <li>Most service providers have an auto-pay option if you're forget-ful.</li>
                            <li>Set calendar reminders.</li>
                            <li>If you can, pay bills as soon as they are available.</li>
                            <li>If not, start with the smaller payments first.</li>
                        </ul>
            
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center col-sm-3 mb-3 col-lg-3 mb-sm-0 my-4 option-card">
            <div class="card-wrapper">
                <div class="card" id="info">
                    <div class="card-body">

                        <h5 class="card-title">Tips for Loans</h5>
                        <h6>Loans can be scary, take these!</h6>
                        <ul>
                            <li>Most loans require a certain minimum credit score to be considered. Do some research first!</li>
                            <li>Part of the process for applying for loans is a hard credit check, which always hurts your credit. And this can be detrimental
                                if you aren't sure you will get the loan.
                            </li>
                            <li>Loan monthly payments should never take a majority of your available income. Make sure you have enough to go into your savings!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center col-sm-3 mb-3 col-lg-3 mb-sm-0 my-4 option-card">
            <div class="card-wrapper">
                <div class="card" id="info">
                    <div class="card-body">

                        <h5 class="card-title">Tips for Credit Cards</h5>
                        <ul>
                            <li>Don't open too many credit cards. Each one you open initiates a hard credit check which hurts!</li>
                            <li>Don't make the minimum payment each month, this is a trap! Although it will save you from getting demerits, it doesn't get you any closer to 
                                your goal of paying off the credit loan.
                            </li>
                            <li>Try to keep 10% of your total available credit in use. This is because having some debt helps your credit more than having no debt, while also 
                                not coming with a ridiculous interest amount.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
</div>
</div>
<div class="text-center mt-4">
<a href="/dashboard" class="btn btn-primary back-btn">Return to Dashboard</a>
  <a href="/taxes" class="btn btn-primary back-btn next">Next</a>
</div>
</div>