<div class="row bg-primary col-10 mx-auto my-5 p-5 card-list-container" role="option-card" aria-label="Example 1px high">
            <!-- Income Info Card -->
            <div class="col-sm-6 mb-3 col-lg-4 mb-sm-0 my-4 option-card">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Income Information</h5>
                        <p class="card-text">Enter your different income sources.</p>
                        <a href="/income" class="btn btn-primary" id="income">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!-- Income Info Card -->
            <div class="col-sm-6 mb-3 col-lg-4 mb-sm-0 my-4 option-card">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Expense Information</h5>
                        <p class="card-text">Enter all of your necessary expenses to be calculated in to your plan.</p>
                        <a href="/expenses" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!-- Income Info Card -->
            <div class="col-sm-6 mb-3 col-lg-4 mb-sm-0 my-4 option-card">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Goals</h5>
                        <p class="card-text">Select your taget Goals.</p>
                        <a href="/goals" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!-- Income Info Card -->
            <div class="col-sm-6 mb-3 col-lg-4 mb-sm-0 my-4 option-card">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Your Financial Plan</h5>
                        <p class="card-text">Our recommendations to build your savings, fulfill your goals, and manage your funds.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!-- Credit Info Card -->
            <div class="col-sm-6 mb-3 col-lg-4 mb-sm-0 my-4 option-card">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Credit Information</h5>
                        <p class="card-text">Explore some helpful tips on how to build your credit!</p>
                        <a href="/credit" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!-- Income Info Card -->
            <div class="col-sm-6 mb-3 col-lg-4 mb-sm-0 my-4 option-card">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>