
<div class="center">
<div class="row col-10 mx-auto my-5 p-5 card-list-container login_card" role="option-card" aria-label="Example 1px high">
<h3>Estimating expenses in  <span id="city"></span></h3>
<div id="loader"></div>
<div class="container" id="expenses">
</div>

<form id="expense-form">
        <label for="expense-input">Please enter your combined monthly expenses</label>
        <input class="form-input" type="expense" id="expense-input" />

           <button class="btn btn-primary" type="submit">Add expenses</button>

        <a href="/dashboard" class="btn btn-primary" id="dashboard">Return to dashboard</a>

        <a href="/goals" class="btn btn-primary back-btn next">Next</a>

        
</form>
</div>
</div>
<script src="./js/expenses.js"></script>