

<h3>Estimated expenses in  <span id="city"></span></h3>

<div class="container" id="expenses">
</div>

<form id="expense-form">
        <label for="expense-input">Please enter your combined monthly expenses</label>
        <input class="form-input" type="expense" id="expense-input" />

           <button class="btn btn-primary" type="submit">Add expenses</button>

        <a href="/dashboard" class="btn btn-primary" id="dashboard">Return to main page</a>
        
</form>

<script src="./js/expenses.js"></script>