<div class="center">
<div class="card">
<div class="row">
  <div>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
{{#if income}}
<div>
  <div>
     <h3>Update Yearly Income</h3>
 

    <form class="form update-income-form">
      <div class="form-group">
        <label for="income-name">Name your source of income</label>
        <input class="form-input" type="text" id="income-name" name="income-name" />
      </div>
      <div class="form-group">
        <label for="update-amount">Enter your yearly income</label>
        <input class="form-input" id="update-amount" name="update-amount"></input>
      </div>
      <div class="form-group">
       
        <button type="submit" class="btn btn-primary">Update Income</button>
 
      </div>
        <a href="/dashboard" class="btn btn-primary back-btn">Return to dashboard</a>
      <a href="/expenses" class="btn btn-primary back-btn">Next</a>
      </form>

  </div>

  <script src="./js/updateIncome.js"></script>

  {{else}}

<div>
  <div>
     <h3>Enter Yearly Income</h3>
 

    <form class="form new-income-form">
      <div class="form-group">
        <label for="income-name">Name your source of income</label>
        <input class="form-input" type="text" id="income-name" name="income-name" />
      </div>
      <div class="form-group">
        <label for="income-amount">Enter your yearly income</label>
        <input class="form-input" id="income-amount" name="income-amount"></input>
      </div>
      <div class="form-group">
       
        <button type="submit" class="btn btn-primary">Add Income</button>
 
      </div>
        </form>


  
      <a href="/dashboard" class="btn btn-primary back-btn">Return to dashboard</a>
      <a href="/expenses" class="btn btn-primary back-btn">Next</a>
  </form>

  </div>
  <script src="./js/income.js"></script>
   {{/if}}

  {{#if income}}
  <div class="post-list">
    <h3>Current Income:</h3>

    <div>
      <div>
        <h4>${{income.amount}}</h4>
      </div>
    </div>
  </div>
  {{/if}}
</div>
</div>
