<div class="row mx-auto my-3">
    <!-- Add Income Source -->

    <div class="col-5 justify-content-center mx-auto">
        <h2>Enter New Income Source</h2>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Name your source of income..."
                aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                placeholder="Income Amount">
        </div>


    </div>
    <!-- Current Income Sources -->
    <div class="col-5 justify-content-center mx-auto">
        <h2>Your Monthly Income</h2>
        <ul class="list-group mx-auto">
            <li class="list-group-item">Income A</li>
            <li class="list-group-item">Income B</li>
            <li class="list-group-item">Income C</li>
            <li class="list-group-item">Income D</li>
        </ul>
    </div>
</div>