<div class="container bg-primary text-center px-3 py-5 my-5">
        <div class="row justify-content-center">
            <div class = 'my-5'>
                <h1>Welcome to WalLot!</h1>
                <h4>Please sign in with your credentials below, or sign up for a profile!</h4>
            </div>
            <div class="mb-3 row col-lg-8">
                <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword">
                </div>
            </div>
            <div class="mb-3 row col-lg-8">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword">
                </div>
            </div>
            <div class = 'row justify-content-center'>
                <button type="button" class="btn btn-danger col-5 mx-3">Sign-In</button>
                <button type="button" class="btn btn-danger col-5 mx-3">Sign-Up</button>
            </div>
        </div>
    </div>