<h2 class="text-center">WalLot Suggested Plan</h2>
<div>
    <div>
        <h3>Needs: 50%</h3>
        <p>display 50% of income</p>
        <p>Housing: </p>
        <p>Utilities: </p>
        <p>Transportation: </p>
        <p>Grocery: </p>
        <p>Insurance: </p>
        <h3>Wants 30%</h3>
        <p>display 30% of income</p>
        <p>Eating Out: </p>
        <p>Clothing: </p>
        <p>Entertainment: </p>
        <p>Vacations: </p>
        <p>Hobbies: </p>
        <h3>Savings 20%</h3>
        <p>display of 20% of income</p>
        <h3>Your Selected Goal</h3>
        <p>Car: $40,000</p>
        <p>If you save 10% of your income for x years, you will reach your goal.</p>
    </div>
</div>