<h4 class="text-center">Taxes, Why'd It Have To Be Taxes?</h4>
<div class="info-main">
    <div class="row justify-content-center">
        <div class="text-center col-sm-6 mb-3 col-lg-3 mb-sm-0 my-4 option-card">
            <div class="card-wrapper">
                <div class="card" id="info">
                    <div class="card-body">           
                        <h5 class="card-title">Saving For The Future Save You In the Present!</h5>                        
                            <p>
                                Contribute to a Retirement Account: Contributions to a retirement account like a 401(k) or an IRA can help reduce your taxable income. 
                                This is because contributions are tax-deductible, which means you don't have to pay taxes on the money you contribute.
                            </p>           
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center col-sm-6 mb-3 col-lg-3 mb-sm-0 my-4 option-card">
            <div class="card-wrapper">
                <div class="card" id="info">
                    <div class="card-body">
                        <h5 class="card-title">Take What You Can Get!</h5>
                            <p>Take Advantage of Tax Credits: Tax credits can help reduce the amount of tax you owe. For example, the Earned Income Tax Credit (EITC) 
                                is a tax credit for low- to moderate-income workers. The credit is refundable, which means you could receive a refund even if you don't owe any taxes.
                            </p>                       
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center col-sm-6 mb-3 col-lg-3 mb-sm-0 my-4 option-card">
            <div class="card-wrapper">
                <div class="card" id="info">
                    <div class="card-body">
                        <h5 class="card-title">Details, Details, Details...</h5>                      
                            <p>Itemize Your Deductions: Itemizing your deductions can help you lower your taxable income. Deductions include things like charitable contributions, mortgage 
                            interest, and state and local taxes.
                            </p>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="row justify-content-center">
        <div class="text-center col-sm-6 mb-3 col-lg-3 mb-sm-0 my-4 option-card">
            <div class="card-wrapper">
                <div class="card" id="info">
                    <div class="card-body">           
                        <h5 class="card-title">For Your Health And Savings</h5>                        
                            <p>Use a Health Savings Account (HSA): An HSA is a savings account that allows you to set aside money tax-free to pay for qualified medical expenses. 
                            This can help reduce your taxable income, and any money you don't use in the account can roll over to the next year.
                            </p>                                    
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center col-sm-6 mb-3 col-lg-3 mb-sm-0 my-4 option-card">
            <div class="card-wrapper">
                <div class="card" id="info">
                    <div class="card-body">
                        <h5 class="card-title">... And More Savings!</h5>
                                <p>
                                Take Advantage of Flexible Spending Accounts (FSA): An FSA allows you to set aside pre-tax dollars to pay for eligible medical expenses. 
                                This can help lower your taxable income.
                                </p>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center col-sm-6 mb-3 col-lg-3 mb-sm-0 my-4 option-card">
            <div class="card-wrapper">
                <div class="card" id="info">
                    <div class="card-body">
                        <h5 class="card-title">Always Give Back</h5>
                            <p>
                                Donate to Charity: Donating to charity is not only a good way to give back, but it can also help lower your taxes. 
                                Charitable contributions are tax-deductible, so be sure to keep track of any donations you make throughout the year.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="text-center col-sm-6 mb-3 col-lg-3 mb-sm-0 my-4 option-card">
            <div class="card-wrapper">
                <div class="card" id="info">
                    <div class="card-body">           
                        <h5 class="card-title">Why Not?</h5>                        
                            <p>Maximize Your Tax Deductions: Maximize your tax deductions by keeping track of all eligible expenses. 
                                For example, if you're self-employed, you may be able to deduct expenses like home office expenses, mileage, and equipment costs.
                            </p>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center col-sm-6 mb-3 col-lg-3 mb-sm-0 my-4 option-card">
            <div class="card-wrapper">
                <div class="card" id="info">
                    <div class="card-body">
                        <h5 class="card-title">Cut Your Losses, But Be Careful</h5>
                                <p>
                                Take Advantage of Tax Loss Harvesting: If you have investments that have lost value, you can sell those investments to offset any gains 
                                you may have and lower your tax liability. It's important to note that tax laws can change, and it's always best to consult with a tax 
                                professional before making any decisions that could impact your taxes.
                                </p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">
<a href="/dashboard" class="btn btn-primary back-btn">Return to Dashboard</a>
</div>

